<%= component "page_header",
            title: t("catalogs.index.title"),
            new_path: new_catalog_path,
            turbo_stream: true %>

<div id="catalogs_tabs">
  <%= component "catalogs/tabs", current_category: @current_category %>
</div>

<turbo-frame id="catalogs_list">
  <%= component "catalogs/list", catalogs: @catalogs %>
</turbo-frame>
