<%= component "page_header",
            title: t("catalogs.index.title"),
            new_path: new_catalog_path,
            turbo_stream: true %>

<div id="catalogs_grid">
  <%= render partial: "catalogs/catalog_list", locals: { catalogs: @catalogs } %>
</div>
