<% new_form = Catalogs::NewForm::Component.new(creator: @creator, selected_category: @selected_category) %>

<%= modal_stream_show do %>
  <dialog class="modal">
    <div class="modal-box max-w-lg">
      <turbo-frame id="<%= Catalogs::NewForm::Component::MODAL_FRAME_ID %>">
        <%= render "modal_header", new_form: new_form %>
        <%= render new_form %>
      </turbo-frame>
    </div>

    <form method="dialog" class="modal-backdrop">
      <button><span class="sr-only">close</span></button>
    </form>
  </dialog>
<% end %>
