<% new_form = Catalogs::NewForm::Component.new(creator: @creator, selected_category: @selected_category) %>

<turbo-frame id="<%= Catalogs::NewForm::Component::MODAL_FRAME_ID %>">
  <h3 class="text-lg font-bold mb-4">
    <%= new_form.modal_title %>
  </h3>

  <form method="dialog">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 modal-close-button">
      <%= component "icons/close" %>
    </button>
  </form>

  <%= render new_form %>
</turbo-frame>
