<header class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-6">
  <h1 class="text-2xl font-bold text-base-content"><%= title %></h1>
  <% if new_button? %>
    <%= link_to new_path, class: "btn btn-neutral", data: { turbo_stream: turbo_stream? || nil } do %>
      <%= helpers.icon "plus" %>
      <%= new_label %>
    <% end %>
  <% end %>
</header>
