<% price_form = Catalogs::PriceForm::Component.new(catalog: @catalog, catalog_price: @catalog_price, kind: @kind) %>

<%= modal_stream_show do %>
  <dialog class="modal">
    <div class="modal-box max-w-sm">
      <h3 class="text-lg font-bold mb-4">
        <%= price_form.modal_title %>
      </h3>

      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 modal-close-button">
          <%= icon "close" %>
        </button>
      </form>

      <%= render price_form %>
    </div>

    <form method="dialog" class="modal-backdrop">
      <button><span class="sr-only">close</span></button>
    </form>
  </dialog>
<% end %>
