@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Noto Sans Mono", ui-monospace, SFMono-Regular, monospace;
}

@plugin "daisyui" {
  themes: caramellatte --default;
}

@source "../../views/**/*.erb";
@source "../../views/components/**/*.rb";
@source "../../helpers/**/*.rb";
