<div id="submit-button">
  <button type="submit"
          class="btn btn-accent btn-lg w-full gap-2"
          <%= "disabled" if disabled? %>>
    <span class="text-xl">🍱</span>
    <span><%= t(".submit_label") %></span>
    <span class="badge badge-neutral"><%= selected_count %></span>
    <span><%= t(".submit_unit") %></span>
  </button>
</div>
