<%= component "page_header",
              title: t("locations.index.title"),
              new_path: new_location_path,
              turbo_stream: true %>

<div id="locations_grid">
  <%= component "locations/list", locations: @locations %>
</div>
